<div class="bg-light p-5 rounded-lg">
  <h1 class="display-4">Bem Vindo ao Blog do Diego</h1>
  <p class="lead">Neste simples blog compartilharei com vocês alguns filmes, músicas e séries que eu gosto</p>
  <hr class="my-4">
  <p>Clique no botão abaixo e veja as Postagens</p>
  <a class="btn btn-primary btn-lg" href="postagens" role="button">Meu Favoritos</a>
</div>

<hr>

<h2>Postagens Recentes: </h2>

{{#each postagens}}
<div class="card mt-2">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagens/{{slug}}"><button class="btn btn-success">Leia Mais</button></a>
        <hr>
        <small>Categoria: {{categoria.nome}}</small><br>
        <small>Data de Publicação: {{data}}</small>
    </div>
</div>

{{else}}
    <h5>Nenhuma Postagem</h5>
{{/each}}